<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Agregamos el framework Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Agregamos también el framework vue.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="p-1">
        <h4 v-if="!visualizar">{{ message }}</h4>
        <h1 v-text="message" v-if="visualizar"></h1>
        <!--<button class="btn-primary" v-on:click="alternar">Alternar</button>-->
        <button class="btn-primary" @click="alternar">Alternar</button>
      </div>

      <div class="p-1">
        <input v-model="ingreso" placeholder="Escriba su mensaje">
        <button class="btn-secondary" @click="agregarMensajeFecha">Agregar {{ ingreso }} con fecha</button>
        <button class="btn-secondary" @click="agregarMensaje">Agregar {{ ingreso }}</button>
      </div>
  
      <div class="p-1">
        <p v-for="mensaje in mensajes" :key="mensaje">{{ mensaje }}</p>
      </div>

      <div>
        <button class="btn-secondary" @click="cambiarMensaje">Cambiar primer mensaje</button>
        <p>Propiedades Computadas:</p>
        <p>Cantidad de mensajes: {{ cantidadMensajes }}</p>
        <p v-bind:title="aclaracion">El primer mensaje tiene {{ cantidadCaracteresPrimerMensaje }} caracteres</p>
      </div>
      
    </div>
  </body>
</html>

<script>
  // vue
  var miVue = new Vue({
    el: '#app',
    data: {
      message: 'NT2',
      visualizar: true,
      ingreso : "",
      mensajes: [],
      aclaracion: 'Yo solo cambio cuando cambia el array directo, no sus elementos.',
    },
    methods: {
      alternar(){
        this.visualizar = !this.visualizar
      },
      agregarMensajeFecha(){
        if(this.ingreso != "")
          this.mensajes.push(`${ this.ingreso } - ${ new Date().toLocaleString() }`)
      },
      agregarMensaje(){
        if(this.ingreso != "")
          this.mensajes.push(this.ingreso)
      },
      cambiarMensaje(){
        this.mensajes[0] = "Hola"
        alert(`El primer mensaje se ha cambiado. Ahora tiene ${this.mensajes[0].length} caracteres.\nPero la propiedad computada no lo detecta.`);
      }
    },
    computed: {
      cantidadMensajes(){
        return this.mensajes.length
      },
      cantidadCaracteresPrimerMensaje(){
        return this.mensajes[0].length
      }
    },
    created(){
      this.mensajes.push("Mensajes ingresados:")
    }
  })
</script>